*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-style: none;

}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
} 
  
.first-div{
    background-color: #ecf0f1;
    height: 500px;
    width: 100%;
}
.navbar{
    width: 100%;
    display: flex;
}
.logo{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: black;
    color: white;
    text-align: center;
    margin-left: 120px; 
    margin-top: 20px;
} 
.menu a{
    padding: 10px;
}
.main-banner{
    display: flex;
    height: 400px;
}
.main-banner-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.menu{
    margin-right: 150px;
}
.text h1{
    font-size: 80px;
}
.btnclass{
    width: 100%;
    display: flex;
    margin-left: 160px;
}
.btncontact{
    border-radius: 50px;
    padding: 10px;
    width: 200px;
    height: 45px;
}
.btnc{
    background-color: orangered;
}
.main-banner-text{
    text-align: right;
    margin-top: 90px;
}
.main-banner-image{
    margin: 0 auto;
    width: 50%;
    width: 100%;
}
.mid-text{
    text-align: center;
    height: 100px;
    padding-top: 30px;
}
.pictures{
    width: 80%;
    display: flex;
    justify-content: space-between;  
    margin: 0 auto;
}

.red{
    width: 36%;
    margin-left: 0;
   
}
.red img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.up{
    height: 67%;
    width: 100%;
}
.down{
    height: 30%;
    width: 100%;
}
 .down img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.up img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.blue{
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.green{
    width: 22%;
    margin-right: 0;
    padding-right: 0px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.upg{
    height: 39%;
    width: 100%;
}
.downg{
    height: 58%;
    width: 100%;
    
}
.upg img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.downg img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.last-div{
    /* width: 100%; */
    display: flex;
    height: 600px;
}
.right-box{
    width: 46%;
    height: 600px;
}
.right-box img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.left-box{
width:46%;
height: 100%;
justify-content: space-between;
}
.up-box{
    height: 40%;
    margin-bottom: 50px;
}
.down-box{
    width:100%;
    display: flex;
}
.car{
    height: 40%;
    width: 45%;
}
.image-gallery{
    justify-content: space-between;
    width: 80%;
    height: 60%;
    display: flex;
    margin: 0 auto;
}

.footer{
    color: gray;
    width: 80%;
    height: 100px;
     display: flex;
    margin:100px auto; 
}
.footer-menu{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.footer-logo{
    width: 25%;
}
.subcribe{
    width: 50%;
    border-bottom: 4px grey;
    height: 50%;

   
}

.formtype{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 4px grey;

}
.copyright{
    height: 100px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
@media only screen and (max-width: 600px) {
.first-div{
    height: 700px;
    width: 100%;
}
.menu{
    display: none;
}
.main-banner{
    display: flex;
    height: 600px;
    width: 100%;
    flex-direction: column;
}
.main-banner-text{
    height: 200px;
    margin-top: 10px;
    width: 70%;
    text-align: left;
}
.text h1{
    font-size: 80px;
}
.btnclass{
    width: 100%;
    display: flex;
    margin: 0 auto;
}
.main-banner-image{
    height: 300px;
    width: 70%;
    margin-top: 80px;
}
.main-banner-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-gallery{
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    }
.left-box{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
}
.right-box{
    display: none;
}
.up-box{
        height:40%;
    }
.down-box{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
 .car{
        height: 200px;
        width: 50%;
    }
    
.down-box img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}             
.car img{
    object-fit: cover;
    width: 100%;
    height: 100%; 
}
.footer{
    width: 80%;
    height: 200px;
     display: flex;
     flex-wrap: wrap;
    /* justify-content: space-between;    */
    margin-right: auto; 
}
.footer-menu{
    width: 55%;
    display: flex;
}
.footer-logo{
    width: 35%;
}
.subcribe{
    width: 70%;
    height: 30%;

   
}
.formtype{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 4px grey;

}
.copyright{
    height: 100px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

}