*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-style: none;

}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
} 
  
.first-div{
    background-color:rgb(238, 231, 231);
    height: 600px;
    width: 100%;
    /* display: flex; */

}
.navbar{
    width: 100%;
    display: flex;
}
.logo{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: black;
    color: white;
    text-align: center;
    margin-left: 120px; 
    margin-top: 20px;
} 
.menu a{
    padding: 10px;
}
.main-banner{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    height: 400px;
    width: 100%;
    margin: 0 auto;
}
.main-banner-image img{
    object-fit: cover;
    width: 80%;
    height: 100%;
}
.menu{
    margin-right: 150px;
}
#hamb.menu{
    /* display: none; */
}
.text h1{
    font-size: 80px;
}
.main-banner-text{
    text-align: right;
    margin-top: 90px;
    width: 40%;
    height:50%;
}
.main-banner-image{
    margin: 0 auto;
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
}
.btnclass{
    width: 100%;
    display: flex;
    margin-left: 160px;
}
.btncontact{
    border-radius: 50px;
    padding: 10px;
    width: 200px;
    height: 45px;
}
.btnc{
    background-color: orangered;
}
.mid-text{
    text-align: center;
    height: 100px;
    padding-top: 30px;
}
.pictures{
    width: 80%;
    display: flex;
    justify-content: space-between;  
    margin: 0 auto;
}

.red{
    width: 36%;
    margin-left: 0;
   
}
.red img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.up{
    height: 67%;
    /* width: 100%; */
}
.down{
    height: 30%;
    width: 100%;
}
 .down img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.up img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.blue{
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.green{
    width: 22%;
    margin-right: 0;
    padding-right: 0px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.upg{
    height: 39%;
    width: 100%;
}
.downg{
    height: 58%;
    width: 100%;
    
}
.upg img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.downg img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.last-div{
    /* width: 100%; */
    display: flex;
    height: 600px;
}
.right-box{
    width: 46%;
    height: 600px;
}
.right-box img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.left-box{
width:46%;
height: 100%;
justify-content: space-between;
}
.up-box{
    height: 40%;
    
    margin-bottom: 50px;
}
.down-box{
    width:100%;
    display: flex;
}
.car{
    height: 40%;
    width: 45%;
}
.image-gallery{
    justify-content: space-between;
    width: 80%;
    height: 600px;
    display: flex;
    margin: 0 auto;
}

.footer{
    color: gray;
    width: 80%;
    height: 100px;
     display: flex;
     justify-content: space-between;
    margin:100px auto; 
}
.footer-menu{
    width: 35%;
    display: flex;
    flex-direction: column;
}
.footer-logo{
    margin-right: 80px;
    /* width: 25%; */
}
.subcribe{
    width: 50%;
    border-bottom: 4px grey;
    height: 45px;  
}
/* *346# */
.formtype{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 4px grey;
    padding:10px;


}
.sub{
    height: 100%;
    width: 200px;
    padding: 20px;
    background-color: white;
}
.copyright{
    height: 100px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    body{
    overflow-x: hidden;

    }
.hamb div{
    width: 35px;
    height: 7px;
    color: black;
    margin: 5px;
    background-color: black;

}
.hamb{
    width:50px;
    height: 30px;
}
.logo{
    
    margin-left: 40px; 
    margin-top: 20px;
}
.right-box{
    display: none;
}
.text{
    text-align: left;
    font-size: 20px;
}
 h1{
    font-size: 40px !important;
}
.menu{
    display: none;
}
.image-gallery{
    height: 900px;
    width: 100%;
    margin: 0 auto;
    background-color: aquamarine;
}
.left-box{
    width:80%;
    height: 1000px;
    /* margin: 0 auto; */
    justify-content: space-between;
    justify-content: center;
}
.up-box{
        margin-bottom: 0px;
        margin: 0 auto;
        width: 100%;
        padding-left: 70px;
        font-size: 20px;
    }
.down-box{
        width:80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
.car{
        height: 30%;
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }
.car h2 {
        font-size: 20px;
}
.first-div{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 100%; */
}
 .main-banner-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.text h1{
    font-size: 80px;
} 
.main-banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 650px;
    width: 100%;
}
.main-banner-text{
    text-align: left;
    width: 70%;
    height:50%;
    margin: 40px auto;

}
.main-banner-image{
    margin: 0 auto;
    width: 80%;
    height: 50%;
}
.mid-text{
    text-align: center;
    height: 150px;
    padding-top: 40px; }   
 .btnclass{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.btncontact{
    border-radius: 50px;
    padding: 10px;
    width: 250px;
    height: 45px;
}
.btnc{
    background-color: orangered;
}
.footer{
    color: gray;
    width: 80%;
    /* height: 250px;  */
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 200px;
}
 .footer-menu{
    display: flex;
}
.subcribe{
    /* width: 80%; */
    border-bottom: 4px grey;
    height: 50%;

   
}

.formtype{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 4px grey;

} 
.copyright{
    height: 100px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
 .first-div{
    height: 900px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */


    /* width: 100%; */
}
.navbar{
    margin-bottom: 50px;
}
 .main-banner{
    display: flex;
    height: 700px;
    width: 100%;
    flex-direction: column;
}
.main-banner-text{
    height: 200px;
    /* margin-top: 90px; */
    width: 70%;
    text-align: left;
    margin: 0 auto;

} 
.text h1{
    font-size: 80px;
}
.btnclass{
    width: 100%;
    display: flex;
    margin: 0 auto;
}
.main-banner-image{
    height: 400px;
    /* width: 70%; */
    margin-top: 80px;
}
.main-banner-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-gallery{
    justify-content: space-between;
    width: 600px;
    height: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    }
.left-box{
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 100%;
}
.right-box{
    /* display: none; */
    margin: 0 auto;
    width: 70%;
    height: 600px;

}
.up-box{
        height:40%;
    }
.down-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
 .car{
        height: 300px;
        width: 40%;
    }
    
.down-box img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}             
.car img{
    object-fit: cover;
    width: 100%;
    height: 100%; 
}
.mid-text{
    text-align: center;
    height: 180px;
    padding-top: 40px; } 
.footer{
    width: 80%;
    height: 200px;
     display: flex;
     flex-wrap: wrap;
    /* justify-content: space-between;    */
    margin-right: auto; 
}
.footer-menu{
    /* width: 55%; */
    display: flex;
}

.subcribe{
    /* width: 70%; */
    height: 30%;

   
}
.formtype{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 4px grey;

}
.copyright{
    height: 100px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

}

/* @media only screen and (max-width: 1200px) and (min-width: 600px){

.menu{
}
} */














}